.orderList{
    text-align: center;
    margin-left: 35px;
}
.orderList h4 {
    font-weight: 500;
}
.price{
    line-height: 0px;
    font-weight: 300;
}
.orderTotal{
    color: tomato;
}
.orderButton{
    background-color: goldenrod;
    color: black;
    padding: 5px 40px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 20px;
}