.single-product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 5px;
}
.single-product img{
    margin-right: 10px;
}
.name{
    color: blue;
    font-weight: 500;
}
.price{
    font-weight: 600;
}
.button{
    background-color: goldenrod;
    color: black;
    padding: 5px 60px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}